form {
    margin: 0 0 2rem 0;

    & > :last-child {
        margin-bottom: 0;
    }

    & > .fields {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 3rem);
        margin: -1.5rem 0 2rem -1.5rem
    }

    & > .fields > .field {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 1.5rem 0 0 1.5rem;
        width: calc(100% - 1.5rem);
    }

    & > .fields > .field.half {
        width: calc(50% - 0.75rem);
    }
}

h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
    border-bottom: solid 1px #fff;
    width: max-content;
    padding-bottom: 0.5rem;
    margin: 0 0 2rem 0;
    font-weight: 700;
}

label {
    color: #fff;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    appearance: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #fff;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    background: rgba(255, 255, 255, 0.075);
    border-color: #fff;
    box-shadow: 0 0 0 1px #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75rem;
}

textarea {
    padding: 0.75rem 1rem;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 300;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(255, 255, 255, 0.175);
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: #fff;
    color: #1b1f22 !important;
    font-weight: 600;
}

ul.actions {
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1rem;
    padding-left: 0;

    li {
        padding: 0 0 0 1rem;
        vertical-align: middle;
    }

    &.special {
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.4;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 480px) {
    form > .fields {
        width: calc(100% + 3rem);
        margin: -1.5rem 0 2rem -1.5rem;

        .field {
            padding: 1.5rem 0 0 1.5rem;
            width: calc(100% -1.5rem);

            &.half {
                width: calc(100% - 1.5rem);
            }
        }
    }
}