.section-experience {
    background-color: #f4f4f4;
    color: #000;
    padding: 2%;
    height: 100vh;
    display: flex;
    align-items: center;

    .section-container {

        h2 {
            font-weight: 700;
            font-size: 5vh;
            margin-bottom: 30px;
            text-align: center;
        }

        .experience-box {
            line-height: 1.5em;
            text-align: left;

            h3 {
                font-weight: 700;
                font-size: 4vh;
                margin-bottom: 1%;
            }

            ul {
                font-size: 3.5vh;
                padding-left: 2%;
                line-height: 1.5;
            }
        }

    }
}