<section *ngIf="myExperience" class="section-experience">
    <div *ngFor="let myExperience of myExperience">
        <button (click)="goBack()">Go Back</button>
        <div class="section-container">
            <h2 class="major">{{myExperience.sectionHeading | uppercase}}</h2>

            <div class="experience-box">
                <h3>{{myExperience.typeOfWork}}</h3>
                <h3>{{myExperience.company}} &#8210; {{myExperience.startDate.toDate() | date:'MMMM, yyyy'}} &#8210; {{myExperience.endDate.toDate() | date:'MMMM, yyyy'}}</h3>
                <h3>Key Deliverables: </h3>
                <ul style="list-style-type:circle;">
                    <li *ngFor="let task of myExperience.tasks">
                        <div [innerHTML]="task"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
